<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= action %> Item</title>
</head>
<body>
    <form method="post" action="/admin/items/<%= action %>" enctype="multipart/form-data">
        <label for="image">
            Upload Image: <input type="file" id="image" name="image" value="" required>
        </label>
        <label>
            Name: <input type="text" name="name" value="<%= (item !== undefined) ? item.name : ''%>">
        </label>
        <label>
            Description: <input type="text" name="desc" value="<%=  (item !== undefined) ? item.desc : ''%>">
        </label>
        <label>
            Price: <input type="number" name="price" value="<%= (item !== undefined) ? item.price : ''%>">
        </label>
        <label>
            Quantity: <input type="number" name="quantity" value="<%= (item !== undefined) ? item.quantity : ''%>">
        </label>
        <input type="text" id="id" name="id" value="<%= (item !== undefined) ? item._id : ''%>" hidden>
        <input type="submit" value="<%= (action == 'add') ? "Add" : "Update" %>">
    </form>
    <% if (action == 'update') { %>
    <form method="post" action="/admin/items/delete">
        <input type="text" id="id" name="id" value="<%= (item !== undefined) ? item._id : ''%>" hidden>
        <input type="submit" value="Delete">
    </form>
    <% } %>
</body>
</html>