<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= action %> Item</title>
</head>
<body>
<form method="post" action="/admin/item/<%= action %>">
    <label>
        Name: <input type="text" name="name" value="<%= (typeof item === undefined) ? item.name : ''%>">
    </label>
    <label>
        Surname: <input type="text" name="surname" value="<%= (typeof item === undefined) ? item.description : ''%>">
    </label>
    <label>
        Email: <input type="text" name="email" value="<%= (typeof item === undefined) ? item. : ''%>">
    </label>
    <label>
        Password: <input type="password" name="password" value="<%= (typeof item === undefined) ? item.password : ''%>">
    </label>
    <input type="submit" value="Accept">
</form>
</body>
</html>