<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= action %> Item</title>
</head>
<body>
    <form method="post" action="/admin/item/<%= action %>">
        <!-- TODO: Dodać input na zdjęcie -->
        <label>
            Name: <input type="text" name="name" value="<%= (typeof item === undefined) ? item.name : ''%>">
        </label>
        <label>
            Description: <input type="text" name="desc" value="<%= (typeof item === undefined) ? item.desc : ''%>">
        </label>
        <label>
            Price: <input type="number" name="price" value="<%= (typeof item === undefined) ? item.price : ''%>">
        </label>
        <label>
            Quantity: <input type="number" name="quantity" value="<%= (typeof item === undefined) ? item.quantity : ''%>">
        </label>
        <input type="submit" value="Accept">
    </form>
</body>
</html>