<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= action %> Order</title>
</head>
<body>
<form method="post" action="/admin/orders/update">
    <% for (var i = 0; i < items.length; i++) { %>
        <% let item = items[i] %>
        <div style="float: left"><%= item.name %></div><br>
        <div style="float: left"><%= item.price %></div>
        <div style="clear: both; margin-bottom: 10px"></div>        
    <% } %>
    <label>
    User Email: <input type="email" name="user_email" value="<%= (order !== undefined) ? order.user_email : ''%>">
    </label>
    <label>
    Date: <input type="datetime-local" name="date" value="<%= (order !== undefined) ? order.date.toJSON().slice(0,19) : ''%>">
    </label>
    <label>
    Price: <input type="number" name="price" value="<%= (order !== undefined) ? order.price : ''%>">
    </label>
    <input type="text" id="id" name="id" value="<%= (order !== undefined) ? order._id : ''%>" hidden>
    <input type="submit" value="Update">
</form>
<form method="post" action="/admin/orders/delete">
    <input type="text" id="id" name="id" value="<%= (order !== undefined) ? order._id : ''%>" hidden>
    <input type="submit" value="Delete">
</form>
</body>
</html>