<form action="/items/<%= item.id %>" method="get">
<div class="d-flex flex-grow-1 justify-content-center align-items-center">
<div class="w-50 card mb-3" style="cursor: pointer; height: 200px" onclick="this.closest('form').submit()">
    <div class="h-100 row g-0">
      <div class="h-100 col-md-4 d-flex justify-content-center align-items-center">
        <img class="h-100 img-fluid rounded-start" src="data:image/<%=item.img.contentType%>;base64,
            <%=item.img.data.toString('base64')%>">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><%= item.name %></h5>
          <p class="card-text"><%= item.desc %></p>
          <p class="card-text"><small class="text-muted">Price: <%= item.price %></small></p>
        </div>
      </div>
    </div>
  </div>
</div>
</form>