<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav>

</nav>

<div class="content">
    <div class="cart-items">
        <% for (var i = 0; i < items.length; i++) { %>
            <% let item = items[i] %>
            <img src="data:image/<%=item.img.contentType%>;base64,
                <%=item.img.data.toString('base64')%>" height="100px" width="100px">
            <div style="float: left"><%= item.name %></div><br>
            <div style="float:left"><%= item.desc %></div><br>
            <div style="float: left"><%= item.price %></div>
            <div style="clear: both; margin-bottom: 10px"></div>
        <% } %>
    </div>
    <form action="/cart/checkout" method="post">
        <input type="submit" value="Checkout">
    </form>
</div>

<footer></footer>
</body>
</html>