<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<%- include('partials/navbar.ejs') %>

<div class="items">
    <% items.forEach(function(item) { %>
        <div class="item" style="float: left; margin: 20px">
            
            <img src="data:image/<%=item.img.contentType%>;base64,
            <%=item.img.data.toString('base64')%>" height="200px" width="200px">
            <div class="name"><%= item.name %></div>
            <div class="description"><%= item.desc %></div>
            <div class="price"><%= item.price %></div>
        </div>
    <% }) %>
</div>

<footer>

</footer>

<script
src="../js/bootstrap.min.js"
></script>
<script
src="../js/jquery.slim.min.js"
></script>
<script
src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
crossorigin="anonymous"
></script>

</body>
</html>