<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav>
    <form action="/" method="post">
        <input type="submit" value="Profile" name="profile">
    </form>

    <form action="/" method="post">
        <input type="submit" value="Add" name="add">
    </form>
</nav>

<form action="/" method="post">
    <label>
        Search:
        <input type="text" name="searchbar">
    </label>
    <input type="submit" value="Search">
</form>

<div class="items">
    <% items.forEach(function(item) { %>
        <div class="item" style="float: left; margin: 20px">
            
            <img src="data:image/<%=item.img.contentType%>;base64,
            <%=item.img.data.toString('base64')%>" height="200px" width="200px">
            <div class="name"><%= item.name %></div>
            <div class="description"><%= item.desc %></div>
            <div class="price"><%= item.price %></div>
        </div>
    <% }) %>
</div>

<footer>

</footer>

</body>
</html>