<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= item.name %></title>
</head>
<body>
<nav>

</nav>

<div class="content">

    <div class="image">
        <img src="data:image/<%=item.img.contentType%>;base64,
                <%=item.img.data.toString('base64')%>" height="100px" width="100px">
    </div>
    <div class="information">
        <div class="name"><%= item.name %></div>
        <div class="description"><%= item.desc %></div>
        <div class="price"><%= item.price %></div>
        <form method="post" action="/items/add_to_cart">
            <input type="submit" value="Add to cart">
        </form>
    </div>
</div>

<footer>

</footer>
</body>
</html>