<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<%- include('partials/navbar.ejs') %>

<div class="w-75 p-5 d-flex flex-column min-vw-100">
    <div class="mb-3 w-50">
        <h3>Hi <%= name %> <%= surname %></h3>
    </div>
    <div class="mb-3 w-50">
        <h5>Your email: <%= email %></h5>
    </div>
    <% for (var i = 0; i < orders.length; i++) { %>
        Your order from: <%= orders[i].date %> with total cost of <%= orders[i].price %> containing:  <br>
        <% for (var j = 0; j < carts[i].length; j++) { %>
            <% let itemName = (carts[i][j] == null) ? "Item Deleted" : carts[i][j].name; %>
            <% let itemPrice = (carts[i][j] == null) ? "Item Deleted" : carts[i][j].price; %>
            <%= itemName %> <%= itemPrice %><br>
        <% } %>
        Has a status: <%= orders[i].orderStatus %> <br> <br>

    <% } %>
</div>
<form method="post" action="/users/profile/logout" class="d-flex flex-column flex-grow-1 align-items-center justify-content-center">
    <button type="submit" class="btn btn-primary">Logout</button>
</form>

<script
src="../js/bootstrap.min.js"
></script>
<script
src="../js/jquery.slim.min.js"
></script>
<script
src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
crossorigin="anonymous"
></script>

</body>
</html>