<div class="d-flex flex-grow-1 justify-content-center align-items-center">
    <div class="w-50 card mb-3" style="cursor: pointer;" onclick="this.closest('form').submit()">
        <div class="h-100 row g-0">
            <div class="h-100 col-md-4 d-flex justify-content-center align-items-center">
                <img class="h-100 img-fluid rounded-start" src="data:image/<%=item.img.contentType%>;base64,
                <%=item.img.data.toString('base64')%>">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h6 class="card-title">
                        <%= item.name %>
                    </h6>
                    <p class="card-text">
                        <%= item.desc %>
                    </p>
                    <p class="card-text">
                        <small class="text-muted">Price: <%= item.price %></small><br>
                        <small class="text-muted">Item ID: <%= item.id %></small>
                    </p>
                </div>
                <div class="d-flex flew-grow-2">
                    <form action="/admin/items/update/<%= item.id %>" method="get" class="p-2 ps-4">
                        <button class="btn btn-primary">Update</button>
                    </form>
                    <form action="/admin/items/delete" method="post" class="p-2">
                        <input type="hidden" id="id" name="id" value="<%= item._id %>">
                        <button class="btn btn-primary">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
